# Credential verification

## Public credential verification

Right click on any users' message, hover over "Apps" and click "Verify credential".

![PubCV](https://i.postimg.cc/Bbj5wmCC/screenshot-20230201-145504.png)

This will result in the following message:

![PubCVmsg](https://i.postimg.cc/L8cWk127/screenshot-20230201-145452.png)

## Private credential verification ("DM verification")

Make a channel for the permanent button.
It would probably make sense that no user has permissions to send messages to this channel.

Then create the button in your chosen channel by typing:

![SetVerificationChannel](https://i.postimg.cc/hGCSPs9x/screenshot-20230201-145442.png)

Your channel will now contain this permanent button:

![PrivCVButton](https://i.postimg.cc/BnL5C7vZ/screenshot-20230201-145442-copy-1.png)