# Credential verification

{% embed url="https://scribehow.com/shared/How_to_Verify_Credentials_on_Telegram__ZnbCoWqwSyGVZ9sCuoSg6A" %}

## DM verification

**If a user mapping for this user exists:** Forward the received message to the bot.
