# Credential verification

/verify - Sample verification

### Verification flow

The verification flow displays three "InlineKeyboardButton":

- QR
- Web
- App

## DM verification

**If a user mapping for this user exists:**
Forward the received message to the bot.
